form .input-group {
    margin-bottom: 1em ;
}

.container-fluid {
    margin-top: 1em;
}

.show-products {
    width: 100%;
    max-height: 31em;
    float: left;
    border: solid 1px gray;
    padding: 1em;
    overflow: scroll;
    overflow-x: hidden;
}

.show-products img {
    width: 5em;
}

.show-products td {
    text-align: center;
    vertical-align: inherit;
}

@media (max-width: 627px) {
    #category,
    #producer {
        display: none;
    }
}

.img-thumbnail {
    text-align: center;
}

.edit .buttons {
    margin-top: 1em;
}

.productNotExist {
    font-size: 1.2em;
    text-align: center;
}

.field{
    margin: 0.5em 0;
}

.add .field span {
    display: block;
    color: #ff0000;
    padding: 0.3em 0;
    float: left;
}

.edit .field span {
    display: block;
    color: #ff0000;
    padding-top: 0.3em;
}

.field .input-group {
    margin-bottom: 0;
}

.field .custom-file label {
    text-align: left;
}
/*CSS for upload image*/

#upload {
    opacity: 0;
}

#upload-label {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
}

.image-area {
    position: relative;
}

.image-area img {
    z-index: 2;
    position: relative;
}